body {
  background-color: #4BED93;
}

.img-screen5 {
  position: relative;
  top: 10vh;
  left: 40vw;
  width: 800px;
  z-index: 0;
}

.list-group {
  width: 200px;
}
.list-group-item {
  width: 200px;
}
.sortable {
  min-height: 50px;
  width: inherit;
}
.placeholder {
  background-color:rgba(72, 72, 72, 0.201);
  opacity: 20%;
  list-style: none;
  height: 50px;
  width: 200px;

}


.trash {
  background-color: #ff575748;
  visibility: hidden;
  border-width: 5px!important;
  width: 100%;
}

.main {
  z-index: 100;
  position: absolute;
}
.border-width-5 {
  border-width: 5px!important;
}

.institution-body h3 {
  color: white;
}

small {
  width: inherit;
  overflow-wrap: break-word;
}