body {
  font-family: 'rubik'!important;
  overflow-x: hidden;
  visibility: hidden;
}

#frame-box {
  border-color: black!important;
  border-radius: 8px!important;
  border-style: solid!important;
  border-width: 4px!important;
  
}

.page-link.pagination-btn{
  background-color: transparent;
  border-color: black!important;
  border-radius: 8px!important;
  border-style: solid!important;
  border-width: 4px!important;
  color: black;
}

.page-link.pagination-btn:hover {
  color: tomato;
  background-color: transparent;
  border-color: tomato!important;
}

@media screen and (min-width: 800px){
    .pagination-btn {
      border-width: 2px;
    }
  
    .google-btn {
      font-size: 1em;
      display: inline-block;
      background: white;
      color: #444;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
      line-height: var(--height);
    }
    .google-icon {
      height: 32px;
      padding: 4px;
      padding-right: 8px;
    }
  }
  
  @media screen and (max-width: 800px){}
  