.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.list-group {
  width: 200px;
}
.list-group-item {
  width: 200px;
}
.sortable {
  min-height: 50px;
  width: 200px;
}
.placeholder {
  background-color:rgb(45, 235, 137);
  opacity: 20%;
  list-style: none;
  height: 50px;
  width: 200px;

}
