<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABCD</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'abcd/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'abcd/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Oleo+Script:wght@700&family=Rubik+Mono+One&display=swap" rel="stylesheet">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="google-signin-client_id" content="687813947855-ck4ck4d49sojolvdbrsni5uu109idjps.apps.googleusercontent.com">
    {% block header_files %}
    {% endblock %}
    <meta property="description" content="NUS ABCD helper" data-react-helmet="true">
</head>
<body>
{% block content %}
{% endblock %}
{% load static %}
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script language="JavaScript" src="{% static 'abcd/js/jquery.js' %}"></script>
<script src="{% static 'abcd/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'abcd/js/popper.min.js' %}"></script>
<script src="{% static 'abcd/js/bootstrap.min.js' %}" ></script>
{% block js %}
{% endblock %}
</body>


</html>
