{% extends "abcd/base.html" %}

{% load static %}

{% block js %}
<script src="{% static 'abcd/js/dragdrop.js' %}" ></script>
{% endblock %}

{% block content %}

<div class="main">
<div class="container">
    <h1>Just a little bit of more information needed</h1>
    <div class="row mt-5">
        <div class="col-6">
            <div class="container">
                <h2>Institutions</h2>
                <div class="container institutions-container">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <h2>StakeHolders</h2>
                <ul class="list-group stakeholders-list-group">
                </ul>
            </div>
            <div class="trash container mt-5 m-3 p-5 text-center border rounded"><i>Drop here to remove</i></div>
        </div>
        
    </div>
</div>
</div>
<img src="../../static/abcd/img/screen5.png" class="img-screen5"/>
{% endblock %}