{% extends "abcd/stepbase.html" %}

{% block content %}
<h1>Here's your connection graph</h1>
<button onclick="saveGraph()">Save graph</button>
<div id="myDiagramDiv" class="canvas"></div>
<div id="storage" value="{{data}}">
<script>
      // source: https://github.com/NorthwoodsSoftware/GoJS/blob/master/samples/linksToLinks.html
      var $ = go.GraphObject.make;

      myDiagram =
        $(go.Diagram, "myDiagramDiv",  // create a Diagram for the DIV HTML element
          {
            "LinkDrawn": maybeChangeLinkCategory,     // these two DiagramEvents call a
            "LinkRelinked": maybeChangeLinkCategory,  // function that is defined below
            "undoManager.isEnabled": true
          });

      // when the document is modified, add a "*" to the title and enable the "Save" button
      myDiagram.addDiagramListener("Modified", function(e) {
        var button = document.getElementById("SaveButton");
        if (button) button.disabled = !myDiagram.isModified;
        var idx = document.title.indexOf("*");
        if (myDiagram.isModified) {
          if (idx < 0) document.title += "*";
        } else {
          if (idx >= 0) document.title = document.title.substr(0, idx);
        }
      });

      // the regular node template, which supports user-drawn links from the main Shape
      myDiagram.nodeTemplate =
        $("Node", "Auto",
          {
            locationSpot: go.Spot.Center,
            layerName: "Background"
          },  // always have regular nodes behind Links
          new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
          $("Shape", "RoundedRectangle",
            {
              fill: "white", stroke: null,
              portId: "", fromLinkable: true, toLinkable: true, cursor: "pointer"
            },
            new go.Binding("fill", "color")),
          $("TextBlock",
            { margin: 8 },  // make some extra space for the shape around the text
            new go.Binding("text", "key"))  // the label shows the node data's key
        );

      // This is the template for a label node on a link: just an Ellipse.
      // This node supports user-drawn links to and from the label node.
      myDiagram.nodeTemplateMap.add("LinkLabel",
        $("Node",
          {
            selectable: false, avoidable: false,
            layerName: "Foreground"
          }  // always have link label nodes in front of Links
        ));

      // the regular link template, a straight blue arrow
      myDiagram.linkTemplate =
        $(go.Link,       // the whole link panel
          $(go.Shape)  // the link shape, default black stroke
      );


      // GraphLinksModel support for link label nodes requires specifying two properties.
      //myDiagram.model =
        $(go.GraphLinksModel,
          { linkLabelKeysProperty: "labelKeys" }); 

      // Whenever a new Link is drawng by the LinkingTool, it also adds a node data object
      // that acts as the label node for the link, to allow links to be drawn to/from the link.
      //myDiagram.toolManager.linkingTool.archetypeLabelNodeData =
      //  { category: "LinkLabel" }; REMOVED 

      // this DiagramEvent handler is called during the linking or relinking transactions
      function maybeChangeLinkCategory(e) {
        var link = e.subject;
        var linktolink = (link.fromNode.isLinkLabel || link.toNode.isLinkLabel);
        e.diagram.model.setCategoryForLinkData(link.data, (linktolink ? "linkToLink" : ""));
      }

      load();

      function load() {
        text = document.getElementById('storage').getAttribute('value');
        json = JSON.parse(text)
        console.log("HERE")
        console.log(json)
        myDiagram.model = go.Model.fromJson(json);
      }

      function saveGraph() {
        json = myDiagram.model.toJson();
        console.log(json);
        $.ajax({
            url: "/results/sendJson/",
            type: 'POST',
            async: false,
            data: {'data': JSON.stringify(json)},
            success:function(data) {
            }
        });
        return true;
      }
</script>
{% endblock %}
