{% extends "abcd/stepbase.html" %}

{% load static %}

{% block header_files %}
<style>
body {
  background-color: #4BED93;
  /* background-image: url('../../static/abcd/img/step4.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30vw 20vh;
  background-size: 50vw auto;
}


.draggable {
  cursor: pointer;
}

.list-group {
  width: 200px;
}
.list-group-item {
  width: 200px;
  display: block;
}
.sortable {
  min-height: 50px;
  width: 100%;
  min-width: 200px;
}
.placeholder {
  background-color:rgba(72, 72, 72, 0.201);
  opacity: 20%;
  list-style: none;
  height: 50px;
  width: 200px;

}


.trash {
  background-color: #ff575748;
  min-height: 50px;
  visibility: hidden;
  border-width: 5px!important;
  width: 100%;
  max-width: 200px;
}

.institution-body {
  border-width: 8px!important;
}

.institution-body h3 {
  color: white;
}

small {
  width: inherit;
  overflow-wrap: break-word;
}

</style>
{% endblock %}


{% block content %}

<div class="main col">
<div class="row">
<div class="container">
    <h1>What are the institutions and associations involved?</h1>
    <div class="row mt-5">
        <div class="col-6">
            <div class="container">
                <h2>Institutions</h2>
                <div class="container institutions-container">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <h2>Stakeholders</h2>
                <ul class="list-group stakeholders-list-group">
                </ul>
            </div>
            <div class="container mt-2">
              <div class="trash m-0 p-1 text-center border rounded"><i>Drop here to remove</i></div>

          </div>
        </div>
        
    </div>
  </div>
  
</div>
<div class="row mt-3">
  <div class="container">
  <button class="btn btn-primary" id="save-btn" style="visibility: hidden">Save connections</button>
</div>
</div>
</div>

{% endblock %}

{% block js %}

<script>

  const icolumns = 4;
  const data = JSON.parse("{{data|escapejs}}")
  const stakeholders = data["stakeholders"].map(x=>JSON.parse(x));
  const institutions = data["institutions"].map(x=>JSON.parse(x));;//["University", "Factory", "Police Headquarters"];
  const dragDropSets = initDragDropSets(institutions);

  $(document).ready(function () {
    initDragDrop();
    addSaveButtonHandler();
  });
  
  function initDragDropSets(institutions) {
    return new Array(institutions.length).fill(0).map(()=> new Set());
  }
  
  function initDragDrop() {
    
  
    let removeIntent = false;
  
    try {
      $("ul, li").disableSelection();
    } catch (err) {
      console.log(err);
    }
    stakeholders.map((stakeholder, index) => {
      var draggableElement = $("<li></li>").text(stakeholder["name"]);
      draggableElement.addClass("draggable");
      draggableElement.addClass("list-group-item");
      draggableElement.attr("id", `stakeholders-${index}`);
      draggableElement.attr("data", index);
  
      draggableElement.draggable({
        connectToSortable: ".sortable",
        helper: "clone",
        opacity: 0.5,
        revert: "invalid",
        start: () => {
          $(".institution-notif").text("Drop unique stakeholders here");
        },
        stop: () => {
          $(".institution-notif").text("");
        }
      });
      $(".stakeholders-list-group").append(draggableElement);
      
    });
  
    var institutionsContainer = $(".institutions-container");
    var rowNum = 0;
    institutions.map((institution, index) => {
      if (index % icolumns === 0) {
        rowNum++;
        const rowElement = $("<div class='row'></div>");
        rowElement.attr("id", `row-${rowNum}`);
        institutionsContainer.append(rowElement);
      }
      const colElement = $("<div class='col'></div>");
      colElement.addClass("institution-body");
      colElement.addClass(["border", "border-white", "rounded", "m-2", "p-2"]);
  
      const nameElement = $("<h3></h3>").text(institution["name"]);
      const sortableElement = $("<ul></ul>");
      sortableElement.attr("id", `institutions-${index}`);
      sortableElement.attr("data", index);
      sortableElement.addClass("list-group");
      sortableElement.addClass("sortable");
  
      sortableElement.sortable({
        revert: true,
        placeholder: "placeholder"
        
      });
  
      sortableElement.on("sortreceive", function(event, ui) {
        
        var pasteItem = !dragDropSets[$(this).attr("data")].has(ui.item.attr("data"));
  
        if (pasteItem) {
          dragDropSets[index].add(ui.item.attr("data"));
        } else {
          $(this).data().uiSortable.currentItem.remove()
        }
        // AJAX REQUEST HERE
        console.log(dragDropSets);
      });
  
      const notifierElement = $("<small></small>");
      notifierElement.addClass("institution-notif");
  
  
      colElement.append(nameElement, sortableElement, notifierElement);
      $(`#row-${rowNum}`).append(colElement);
    });
  
    $(".trash").droppable({
      accept: ".sortable, .draggable",
      activate: function(event, ui) {
        $(this).css("visibility", "visible");
        
      },
      deactivate: function(event, ui) {
        $(this).css("visibility", "hidden");
        
      },
      drop: function(event, ui) {
        ui.helper.remove();
        $(this).css("visibility", "hidden");
        refreshChildrenSetOfInstitutions();
      }
  
    });
    
  }

  function addSaveButtonHandler() {
    $('#save-btn').click(()=> {
      refreshChildrenSetOfInstitutions();
      var data = {};
      dragDropSets.forEach((val, idx) => {
        data[institutions[idx]["name"].toString()] = Array.from(val).map(val=>stakeholders[val]);
      });
      console.log(data);

      const request = new Request(
        "/associations/",
        {headers: {'X-CSRFToken': csrftoken}}
      );
      fetch(request, {
        method: 'POST',
        body: JSON.stringify(data),
        mode: 'same-origin'
      });
    });
    $('#save-btn').css("visibility", "visible");
  }
  
  
  function refreshChildrenSetOfInstitutions() {
  
    institutions.map((val, i) => {
      console.log(i);
      var children = $(`#institutions-${i}`).children("li");
      const set = new Set();
      children.each((idx, val) => {
        if($(val).attr("data")) {
          set.add($(val).attr("data"));
        }
      });
      dragDropSets[i] = set;
    });
  }

  $('<img/>').attr('src', "../../static/abcd/img/step4.png").on('load', function() {
   $(this).remove(); // prevent memory leaks as @benweet suggested
   $('body').css('background-image', 'url("../../static/abcd/img/step4.png")');
});
</script>
{% endblock %}