{% extends "abcd/stepbase.html" %}



{% block header_files %}
<style>
body {
  background-color:#FFD214;
  /* background-image: url('../../static/abcd/img/step1.svg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;  
  background-size: 80vw auto;
}

</style>
{% endblock %}

{% block content %}
<div class="col">
  <div class="row">
<h1>Tell us about your community. Where is it?</h1>
</div>
<div class="row">
<div class="container">
  <form method="post" id="addCommunityForm">
{% csrf_token %}
<div class="form-group">
  <label>Community Location</label>
  <input id="community_addr" type="text" class="form-control" name="community_addr" placeholder="Enter location" list="locations">
</div>
<input class="btn btn-primary" type="submit" value=Add>

</form>
</div>
</div>
</div>

<datalist id="locations">
  <option value="Heyho">
  <option value="Heyha">
</datalist>
{% endblock %}

{% block js %}
<script>
  $('<img/>').attr('src', "../../static/abcd/img/step1.svg").on('load', function() {
   $(this).remove(); // prevent memory leaks as @benweet suggested
   $('body').css('background-image', 'url("../../static/abcd/img/step1.svg")');
});
</script>
{% endblock %}