<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABCD</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'abcd/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'abcd/css/style.css' %}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="google-signin-client_id" content="687813947855-ck4ck4d49sojolvdbrsni5uu109idjps.apps.googleusercontent.com">
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    {% block header_files %}
    {% endblock %}
    <meta property="description" content="NUS ABCD helper" data-react-helmet="true">
</head>

<body>

<div class="container">
  <div class="row d-block border p-5 mt-5" id="frame-box">
    {% block content %}
    {% endblock %}
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link m-4 pagination-btn " href="{% url 'step1' %}">1</a></li>
        <li class="page-item"><a class="page-link m-4 pagination-btn" href="{% url 'step2' %}">2</a></li>
        <li class="page-item"><a class="page-link m-4 pagination-btn" href="{% url 'step3' %}">3</a></li>
        <li class="page-item"><a class="page-link m-4 pagination-btn" href="{% url 'step4' %}">4</a></li>
        <li class="page-item"><a class="page-link m-4 pagination-btn" href="{% url 'step5' %}">5</a></li>
        <li class="page-item"><a class="page-link m-4 pagination-btn" href="{% url 'results' %}">Result</a></li>
      </ul>
    </nav>
    </div>
  </div>
{% load static %}
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script language="JavaScript" src="{% static 'abcd/js/jquery.js' %}"></script>
<script language="JavaScript" src="{% static 'abcd/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'abcd/js/popper.min.js' %}"></script>
<script src="{% static 'abcd/js/bootstrap.min.js' %}" ></script>
<script>
document.addEventListener("DOMContentLoaded", $("body").css("visibility", "visible"));
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});
</script>
{% block js %}
{% endblock %}
</body>
</html>  
</div>
