{% extends "abcd/stepbase.html" %}

{% block content %}
<h1>Who are the individuals?</h1>
<form method="post" id="addIndividualForm" onsubmit = "return true;">
<div class="form-group">
{% csrf_token %}
  <input type="text" class="form-control" name="individual_name" placeholder="Enter stakeholder's name">
  <input class="btn btn-primary" type="submit" value=Add>
</div>
</form>
  <form action="" method="POST" >
    {% csrf_token %}
    {{ form2.as_p }}
  <button type="submit" name="htmlsubmitbutton2">Add</button>
  </form>



{% endblock %}